.header
{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-self:flex-start;
	order:1;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 1em 0.5em;
	font-size: 20px;
}

.logo
{
	order: 1;
	padding-top:5px;
	width: 70px;
}

.logo img
{
	max-width: 100%;
    max-height: 100%;
	cursor:pointer;
}

.socials-header
{
	order: 3;
	display: none;	
}

#contact
{
	order: 4;
	display:none;
	min-width: 234px;
	font-size: 15px;
	text-align: left;
}

#contact a
{
	padding: 5px;
}

.menu-button-container 
{
	order: 5;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	height: 100%;
	width: 30px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#menu-toggle 
{
  display: none;
}


.menu 
{
	order: 2;
    position: absolute;
    top: 0;
    margin-top: 80px;
    left: 0;
    flex-direction: column;
	padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
	overflow:hidden;
	z-index:100;
}
  
.menu > li 
{
    display: flex;
    justify-content: center;
	align-items: center;
    width: 100%;  
}

.current
{
	text-decoration: underline;
}

.current:hover
{
	transform: unset !important;
}

#menu-toggle ~ .menu li 
{
	height: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: height 1s cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked ~ .menu li 
{
	margin-top: unset;
	border: 1px solid #333;
	height: 2.5em;
	transition: height 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu > li:not(:last-child) 
{
    border-bottom: 1px solid #444;
}

.menu-button,
.menu-button::before,
.menu-button::after 
{
	display: block;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 2s cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.menu-button::before 
{
	content: '';
	margin-top: -8px;
}

.menu-button::after 
{
	content: '';
	margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before 
{
	margin-top: 0px;
	transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button::after 
{
	margin-top: 0px;
	transform: rotate(-405deg);
}


/* Extra small devices (phones, 425px and down) */
@media only screen and (max-width: 600px) 
{
	
	
}

/* Small devices (portrait tablets and large phones, 425px and up) */
@media only screen and (min-width: 425px) 
{
	#contact
	{
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
	
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
	
	#contact
	{
		display: none;
	}
	.menu 
	{
	  display: flex;
	  position:unset;
	  flex-direction: row;
	  list-style-type: none;
	  margin: 0;
	  width:unset;
	}

	#menu-toggle ~ .menu li 
	{
	  margin: 0 6px;
	  width:unset;
	  height:unset;
	  background-color: inherit;
	  transition: all 0.2s ease-in-out;
	}

	.menu-button-container 
	{
	  display: none;
	  
	}
	
}

/* Large devices (laptops/desktops, 910px and up) */
@media only screen and (min-width: 910px) 
{
	

	#contact
	{
		display: flex;
	}
	
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
	.socials-header
	{
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;	
	}
	.socials-header a
	{
		margin: 0 5px;
	}
	#menu-toggle ~ .menu li {
	  margin: 0 15px;
	}
}