/*
	font-family: 'Cinzel Decorative', cursive;
	font-family: 'Cinzel', serif;
	font-family: 'Petit Formal Script', cursive;
	font-family: 'Raleway', sans-serif;
*/

@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: 100% 0px;}
	
}

@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: 100% 0px;}
	
}

html
{
	scroll-behavior: smooth;
	overflow-y: scroll;
	overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/******COLORS & FONTS******/
body,a,table,input[type=submit],input[type=button],button
{	
	color:#fffff5;
}
.menu-button,
.menu-button::before,
.menu-button::after,
h2::before, h2::after ,
input
{
	background-color: #fffff5;
}
#menu-toggle:checked + .menu-button-container .menu-button 
{
	background: rgba(255, 255, 255, 0);
}


.footer,
.header,.menu > li,
.records-content,
.records-stripe,
.about-content,
.about-stripe,.event,
.loginform,
.generator
{
	background-color: #292929;
}

.title,
input[type=submit],
input[type=button],
button
{
	background-color:  #181818;		
}

.socials
{
	background: rgba(0, 0, 0, 0.5);
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
	.about-content,
	.records-content,
	.about-stripe,
	.event,
	.loginform,
	.generator
	{
		background: rgba(0, 0, 0, 0.8);
	}
}


.button:disabled
{
	color: #555555;
}

.fb:hover, .social:hover > .fb
{
	color: #4668b3;
}

.ig:hover, .social:hover > .ig
{
	color: #c13584;
}

.yt:hover, .social:hover > .yt
{
	color: #d94348;
}

.tw:hover, .social:hover > .tw
{
	color: #3095d3;
}

.sc:hover, .social:hover > .sc
{
	color: #ff7700;
}

.sp:hover, .social:hover > .sp
{
	color: #81b71a;
}

body
{
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}

h1
{
	font-family: 'Cinzel', italic;
	font-weight: 400;
}

h2
{
  font-family: 'Cinzel',italic;
  font-size: 20px;
  letter-spacing: 10px;
  margin-bottom: 2vh;
}

h3
{
  font-size: 25px;
}

.num-fact,h3
{
	font-family: 'Petit Formal Script', cursive;
}

input[type=submit],
input[type=button],
button
{
	font-family: 'Cinzel', serif;
	font-weight: 700;
}

.header
{
	font-family: 'Cinzel', serif;
	font-weight: 200;
}

/******************/
body
{	
	margin: 0 !important;
	background-image: url("../img/bg-mobile-blurred.jpg");
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-attachment: fixed;
	
    animation-name: backgroundScroll;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
    animation-timing-function: linear;
	animation-fill-mode: both;
}

.page-container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	width: 100%;
}

.content
{
	order:2;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-self:flex-start;
	justify-content: space-around;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.footer 
{
	order:3;
	align-self:flex-end;
	text-align: center;
}

h1
{
	margin:0;
	text-align:center;
}

.title
{
	width:100%;
	padding: 0.5em 0em;
}

a
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

button, .social, .socials-header a, .logo, #contact a, .nav-toggler, .about-socials div
{
	transition: all 0.2s ease-in-out;
}

 button:hover, .social:hover, .socials-header a:hover, .logo:hover, #contact a:hover, .nav-toggler:hover,  .about-socials div:hover
{
	-webkit-transform: translate(0,3px);
	-ms-transform: translate(0,3px);
	transform: translate(0,3px);
}



input[type=submit],
input[type=button],
button
{
	width: 250px;
	font-size: 18px;
	padding: 10px 0;
	margin: 20px 0;
	border: 1px solid #fffff5;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	outline: none;
	transition: all 0.2s ease-in-out;
}

button:disabled
{
	border: 1px solid #555555;
	cursor:unset;
	transition: unset;
}

button a
{
	text-decoration: none;
	display: block;
}


input[type=submit]:hover,
input[type=button]:hover,
button:hover
{
	-webkit-transform: translate(0,3px);
	-ms-transform: translate(0,3px);
	transform: translate(0,3px);
}
input[type=submit]:focus,
input[type=button]:focus,
button:focus

{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

button:disabled:hover
{
	transform:unset;
}


.socials
{
	align-self: flex-end;
	width: 100%;
	margin-top:20vh;
	padding-top: 3px;
}


#socials-grid
{
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 20px;
}


.social
{
	width: 50%;	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social label
{
	cursor: pointer;
}

.socials  i
{
	font-size: 50px;	
}



.fb, .ig, .yt, .tw, .sc, .sp
{	
	cursor:pointer;
}


/* Small devices (portrait tablets and large phones, 425px and up) */
@media only screen and (min-width: 425px) 
{

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
	body
	{
		animation-duration: 10s;
	}
	
	li
	{
		transition: all 0.2s ease-in-out;
	}

	li:hover
	{
		-webkit-transform: translate(0,3px);
		-ms-transform: translate(0,3px);
		transform: translate(0,3px);
	}

}

@media only screen and (max-width: 992px)
{
	body
{
	background-image: unset;
	background-color: black;
	animation-name:  unset;
}
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
	


	body
	{
		background-image: url("../img/bg-blurred.jpg");
		animation: none;
		background-size: cover;
	}

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
	
	
}
