/node_modules
/public_html/hot
public_html/storage
public_html/css/
public_html/js/
/storage/*.key
/vendor
.env*
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/tmp
*.log
public_html/generators/contracts/*
public_html/generators/zaiks/*
!public_html/generators/templates
public_html/img/unused/
package-lock.json