@import "../components/modal-bottom";

.dataTables_wrapper .dataTables_length select {
    color: black;
}

.dt-processing {
    position: fixed !important;
}

.select2-dropdown {
    z-index: 9999;
}

.deleteBtn {

    & input {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    & i {
        cursor: pointer;
    }
}

button a {
    color: $color-text-white;

    &:hover {
        color: unset;
    }
}

.cash-amount {
    text-align: right;

    &--negative {
        color: red;
    }
}

.number-cell {
    text-align: right;
}

#eventsTable tr {
    cursor: pointer;
}

.dashboard {
    padding-top: 100px;

    &__generator {
        //padding:20px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        min-height: 40vh;
        flex-direction: column;
        width: 90%;
        margin: auto;

        & h1 {
            font-size: 28px;
        }

        &__footer {
            display: flex;
            gap: 1rem;
            padding-top: 2.5rem;
        }
    }

    &__table-button {
        margin: 0 10px;
    }
}

.dual-listbox {

    &__button {
        background-color: $color-accent !important;
        color: $color-text-white !important;
        border: 1px solid $color-accent-border !important;
        margin: 5px 10px;

    }

    @media (max-width: $large-device) {

        & .listboxSelectedList,
        & .listboxAvailableList {
            width: 44%;
            padding: 0 10px;
        }

        &__available,
        &__selected {
            width: unset !important;
        }

        
        & .listboxFirstButtons {
            
                order: 4;
                flex-direction: row;
        }
    }

    @media (max-width: $medium-device) {
        & .listboxAvailableList {
            width: 100%;
            padding: 0 10px;
        }

        & .listboxSelectedList {
            width: 90%;
            padding: 0 10px;
        }

        &__buttons:not(.listboxFirstButtons) {
            width: 8%;
        }
        
    }
}

// .dtsp {

//     &-searchIcon {
//         display: none;
//     }

// }

:root {
    --dt-row-selected: 206, 165, 131;
}