@font-face {
  font-family: 'Cinzel-Decorative';
  src: url('./font/CinzelDecorative-Regular.ttf');
}

@font-face {
  font-family: 'Cinzel-Decorative-Bold';
  src: url('./font/CinzelDecorative-Bold.ttf');
}

@font-face {
  font-family: 'Petit-Formal-Script';
  src: url('./font/PetitFormalScript-Regular.ttf');
}

@keyframes first-animation {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.75;
  }
  100%{
    opacity: 1;
  }
}

@keyframes second-animation {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    opacity: 1;
  }
}

@keyframes third-animation {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url('./img/bg.png');
}

@media screen and (min-width: 3000px) {
  body {
    background-size: cover;
  }
}

div.content {
  text-align: center;
  width: 100%;
  margin-top: 30vh;
  animation: first-animation 4s;
}

#first {
  font-family: 'Cinzel-Decorative';
  color: white;
  font-size: 2.5vh;
  letter-spacing: 10px;
  margin-bottom: 2vh;
}

@media screen and (max-width:600px) {
  #first {
    letter-spacing: 0px;
  }
}

#first::before, #first::after {
  background-color: white;
  content: " ";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 10%;
  margin: 0 15px;
  border-radius: 75px;
}


#second {
  font-family: 'Cinzel-Decorative-Bold';
  color: white;
  font-size: 6vh;
  margin-bottom: 25px;
  animation: second-animation 2s; 
}

#third {
  font-family: 'Petit-Formal-Script';
  color: white;
  font-size: 3vh;
  animation: third-animation 4s;
}

#action {
  margin: 5vh auto 5vh auto;
  max-width: 90%;
  justify-content: space-around;
  animation: third-animation 4s; 
}

#action > * {
  display: inline-flex;
  width: 6.5vw;
  max-width: 75px;
  margin: 0 3.5%;
  opacity: 0.8;
  transition: 0.2s;
  position: relative;
}

#action > *:hover {
  margin: -10px 3.5%;
  opacity: 1;
  transition: 0.2s;
  cursor: pointer;
}

#fb { content: url('./img/fb.png'); }
#yt { content: url('./img/yt.png'); }
#sc { content: url('./img/sc.png'); }
#ig { content: url('./img/ig.png'); }
#spotify { content: url('./img/spotify.png'); }

#oferta {
  font-family: 'Petit-Formal-Script';
  color: white;
  font-size: 2.5vh;
  margin-top: 100px;
  animation: third-animation 4s; 
  text-decoration: none;
  transition: 0.2s;
}

#oferta:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;
}
