/*--------------------------------------------------------------
# Default text button
--------------------------------------------------------------*/
/* Customizing the primary button color */
.btn-primary {
    background-color: $color-accent !important; /* Change the background color */
    border-color: $color-accent-border !important; /* Change the border color */
}

/* Customizing the primary button color on hover */
.btn-primary:hover {
    background-color: $color-accent-hover !important; /* Change the background color */
    border-color: $color-accent-hover-border !important; /* Change the border color */
}

.btn {
    font-family: $raleway;
    color: $color-text-white;
    font-weight: 600;
    box-shadow: $shadow-standard;
    text-transform: uppercase;
    transition: 0.3s;

    &:hover {
        background-color: $color-accent-hover;
        color:$color-text-white;
    }
}


.link-button {

    background-color: $color-accent;
    color: $color-text-white;
    font-family: $raleway;
    font-weight: 600;
    box-shadow: $shadow-standard;
    text-transform: uppercase;
    transition: 0.3s;
    position: relative;
    top: 1rem;
    padding: 1rem 2rem;

    @media (min-width: $medium-device) {
        padding: 1rem 4rem;
    }

    &:hover {
        background-color: $color-accent-hover;
        color:$color-text-white;
    }

    &_social {
        top: 0rem;
        padding: 1.2rem 0.6rem;

        & i {
            font-size: 3.0rem;
            position: relative;
            top: 0.7rem;
        }


    }

}
