.modal-image {
        & .modal-dialog {
           max-width: 100vw;

           @media (min-width: $large-device) {
            max-width: 65vw;
        }
        }

        & .modal-body {
          padding-bottom: 0;
        }

        & .modal-footer {
            justify-content: space-between;
            border:unset;
            //padding: 0 var(--bs-modal-padding);
        }

        & h4 {
            font-family: $raleway;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 400;
        }
}