/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
.preloader-transparent {
  background: transparent !important;

  &:before {
    border-top-color:  transparent !important;
    border-bottom-color:  transparent !important;
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: $color-header-background;

  &:before {
    content: "";
    position: fixed;
    top: calc(50% - 0px);
    left: calc(50% - 30px);
    border: 6px solid $color-accent;
    border-top-color:  $color-header-background;
    border-bottom-color:  $color-header-background;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
