$color-text-dark:#242424;
$color-text-white: #fff;

$color-accent: #d0b785;
$color-accent-border: #d0b785;
$color-accent-hover: #ecd49d;
$color-accent-hover-border: #bca97d;

$color-black-todo: #151515;

$color-header-background: #393939;

$color-gray: #aaaaaa;

/*******************************************************
 *  Bootstrap Variables
 *******************************************************/

$pagination-color: $color-text-dark;
$pagination-bg: $color-accent;
$pagination-border-color: $color-accent-border;

$pagination-hover-color: $color-text-dark;
$pagination-hover-bg: $color-accent-hover;
$pagination-hover-border-color: $color-accent-hover-border;

$pagination-active-color: $color-text-dark;
$pagination-active-bg: #CDA05A;
$pagination-active-border-color: #CDA05A;

