.mdc-button__label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cell-buttons-container {
    display: flex;
}

.transactionsView__status {
    margin: 0 0 10px;
    color: var(--mat-sys-on-surface-variant);
}