<div class="event">

    <div class="event-cover">
        <img src="{{COVER}}">
    </div>
    <div class="event-text">
        <div class="event-name">
            <h1>
                {{NAME}}
            </h1>
        </div>
        <div class="event-date">
            {{DATE}}
        </div>
        {{TICKET_INFO}}

        <a href="https://facebook.com/events/{{ID}}" target="_blank"
            class="event-social fb">
            <i class="icon-facebook-official"></i>
        </a>
        <div style="clear:both"></div>
        <div class="event-place">
            <b>
                {{PLACE_NAME}}
            </b><br />
            {{PLACE_LOCATION}}
        </div>
    </div>
</div>