<header>
	<!-- This is a container for navbar-->
	<div class="header">

		<!-- Site logo-->
		<a href="{{START}}">
			<div class="logo">
				<img src="/assets/img/logo-square.png">
			</div>
		</a>
		
		<!-- Menu button for mobile version-->
		<input id="menu-toggle" type="checkbox" />
		<label class='menu-button-container' for="menu-toggle">
				<div class='menu-button'></div>
		</label>
		
		<!-- Navigation list (subpages)-->
		<ol class="menu" itemscope itemtype="https://schema.org/BreadcrumbList">
		{{MENUITEMS}}
		</ol>
	{{SOCIALBAR}}
	{{CONTACTBAR}}
	</div>
</header>