<section>
        <div class="records-content">
            <div class="records-description">
                <div class="records-name">
                    <h3 style="margin-block-end:0">
                        {{YEAR}}
                    </h3>
                    <h1 style="margin-block-start:0">
                        {{NAME}}
                    </h1>
                </div>
                <div class="records-cover">
                    {{COVER}}
                </div>
            </div>
            <div class="records-list">
                {{RECORDS}}
            </div>
        </div>
    </section>