<div class="about-socials">
    <a class="social" href="{{FB}}" target=" _blank">
        <i class="icon-facebook-official fb"></i>
        <label>Facebook</label>
    </a>
    <a class="social" href="{{IG}}" target=" _blank">
        <i class="icon-instagram ig"></i>
        <label>Instagram</label>
    </a>
    <a class="social" href="{{YT}}" target=" _blank">
        <i class="icon-youtube-play yt"></i>
        <label>YouTube</label>
    </a>
    <a class="social" href="{{SP}}" target=" _blank">
        <i class="icon-spotify sp"></i>
        <label>Spotify</label>
    </a>
    <a class="social" href="{{SC}}" target=" _blank">
        <i class="icon-soundcloud sc"></i>
        <label>SoundCloud</label>
    </a>
</div>