.loginform
{
	width: 100%;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
	flex-direction: row;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 40px;
	
}

.generator
{
	padding:20px;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
	min-height:40vh;
	flex-direction: column;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	text-align: left;
}

.generator h1
{
	font-size: 28px;
	/*width:40%;*/
}




.generator button
{
	width: 240px;
	font-size: 14px;
	padding: 4px 0;
	margin: 8px 10px;
}

#sellBtn
{
	width: 100px;
	font-size: 20px;
	padding: 10px 2px;
}

#warehouse button
{
	padding:0;
	border:none;
	background-color: unset;
	width:10px;
	margin-left: 15px;
	
}
.tableContainer
{
	overflow-x:auto;
	max-width: 100%;
}

table
{
	table-layout: auto;
	border-collapse:collapse;
	border:none;
	margin-left: auto;
	margin-right: auto;
	
    order: 1;
    
	font-size: 20px;
	padding: 30px;
}
table input
{
	
	height:30px;
}

.nowrapCell
{
	white-space: nowrap;
}


.plusButton
{
	width:26px !important;
	height:26px;
	padding: 0 !important;
}


th, td
{
	font-size: 18px;
	padding: 5px 10px;
	margin: 20px 0;
	border-bottom: 1px solid #fffff5;
	/*text-align: center;*/
	outline: none;
	
}

input[type=number]:disabled
{
	
}

.formtitle
{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width:100%;
	padding: 10px;
	padding-bottom: 20px;
	text-align: center;
}
.formtitle div
{
	/*width:100%;*/
	padding: 0 20px;
}

form
{
	margin-left:auto;
	margin-right:auto;
	order:1;
	display: flex;
	flex-wrap:wrap;
	justify-content: flex-start;
	flex-direction: column;
	font-size: 20px;
}

form p
{
	margin-top:0;
	margin-bottom: 0;
}

.form-row
{	
	width:100%;
}

div.form-row
{
	display:flex;
	flex-wrap:nowrap;
	flex-direction: row;
	justify-content: flex-start;
	
	border: 2px solid #666;
	border-radius: 5px;
	margin: 5px 0;
	background-color: #cdcdcd;
	color: #666;
	min-height: 1.5em;
	
}

div.form-row > label
{
	color: #222;
	padding-right:10px;
	padding: 1px;
	border-radius:4px 0 0 4px;
}


.form-row > input[type=text]
{
	flex: 1 0;
	padding: 0px;
	align-self: flex-end;
	margin:1px;
	margin-left:10px;
	border:0;
	border-radius: 0 5px 5px 0;
}

#kod_pocztowy
{
	width:70px;
}

.form-row > select
{
	padding: 0px;	
	margin: 8px 0;
}

.form-footer
{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	flex-direction: row;
}



input[type=text],
input[type=password],
input[type=number],
select,
.plusMinusInput
{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	padding:10px;
	border: 2px solid #666;
	border-radius: 5px;
	margin: 20px 5px;
	/*margin: 5px;*/
	outline: none;
}

table input[type=number],
table select
{
	padding:0;
}

.item
{
	margin-top: 10px;
}


.item:hover,.item:focus-within
{
	text-decoration:underline;
}


input[type=text]:focus,
input[type=password]:focus
{
	
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
	
	
}


.form-row > input[type=text]:focus
{
	
	border: 0;
	background-color: #e9f3e9;
	color: #428c42;
	
}

input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #428C42;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #428C42;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #428C42;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #428C42;
}


.plusMinusInput
{
	position: relative;
	margin: 20px 5px;
	height:30px;
	width: 100px;
}



.plusMinusInput input
{
	position: absolute;
	top: -2px;
	right:0;
	margin:0;
	height:30px;
    width: 100%;
    text-align: center;

    vertical-align: middle;
	vertical-align: middle;
	color: black;
}
.minus, .plus
{
	cursor: pointer;
	position: absolute;
	top: 0px;
	width:30px;
	height:100%;
	background-color: #cdcdcd;
	color: #222;
	font-size: 23px;
	text-align: center;
	-webkit-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
}
.minus.disabled,
.plus.disabled
{
	color:gray;
	cursor: unset;
}
.minus
{
	border-radius: 4px 0 0 4px;
	left: 0;
}
.plus
{
	border-radius: 0 4px 4px 0;
	right: 0;
}

.deleteButton
{
	width:24px !important;
	padding: 1px 4px;
	color:red;
}

#newProduct
{
	display:none;
	margin-left: auto;
	margin-right: auto;
	padding:30px;
	margin-bottom: 30px;
}

#newProductTable button
{
	width:unset;
	padding: 1px 4px;
}

#addNewProductBtn
{
	float:right;
	margin:30px;
}



/* Small devices (portrait tablets and large phones, 425px and up) */
@media only screen and (min-width: 425px) 
{
	

	
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
	

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
	.loginform,.generator
	{
		width: 67%;
	}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
	.loginform,.generator
	{
		width: 65%;
	}
}



